In [2]:
import pandas as pd

#Lê 2 tabelas excel
tabela1 = pd.read_excel('Tabela1.xlsx')
tabela2 = pd.read_excel('Tabela2.xlsx')

#Junta as tabelas em uma só
tabelamerge = pd.merge(tabela1, tabela2, how='outer')

display(tabelamerge)
#Transforma a coluna "DATA ATENDIMENTO" em uma data 
tabelamerge['DATA ATENDIMENTO'] = pd.to_datetime(tabelamerge['DATA ATENDIMENTO'])

#Inserimos a data com a qual queremos trabalhar 
data_inicio = pd.to_datetime('2023-05-01')

#Status que queremos avaliar
status = 'CONCLUIDO VENDA'

#Selecionamos onde a "DATA ATENDIMENTO" é maior que a data que inserimos anteriormente, e tambem se a coluna "STATUS NEGOCIAÇÃO" confere com o status passado
#Tambem selecionamos só aquilo que precisamos 
selecao = tabelamerge.loc[(tabelamerge['DATA ATENDIMENTO'] >= data_inicio) & (tabelamerge['STATUS NEGOCIAÇÃO'] == status), ['DATA ATENDIMENTO','VENDEDOR','CODIGO WORK','FORMADO','FORMA DE ATENDIMENTO', 'STATUS NEGOCIAÇÃO','PRODUTO VENDIDO']]

display(selecao)

#Finalmente criamos um excel com somente as informações necessárias
selecao.to_excel('O que interessa.xlsx', index=False)

,DATA ATENDIMENTO,EMPRESA,VENDEDOR,CODIGO WORK,FORMADO,Unnamed: 5,INSTITUICÃO DE ENSINO,EVENTO,CURSO,CIDADE DA UNIVERSIDADE,...,DIAS PARA PRIMEIRO VECTO,COMISSÃO VENDEDOR,QTDADE VENDEDORES,VALOR VENDAS PLANTÃO,VALOR DA COMISSÃO,STATUS DO FORMADO,STATUS ATENDIMENTO,Unnamed: 31,CONFERIDO FINANCEIRO,CONFERIDO FOTO E VÍDEO
0,2020-01-22,FOTUS,20,16539,DIMARVÃ REFOSCO,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,FOTUS,20,15631,SUELEN CRISTINA CERUTTI,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2020-01-23,FOTUS,20,16562,MATHEUS LENHARDT BRAGA,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2020-01-23,FOTUS,20,16561,MATEUS LOVATEL DE ANDRADE,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2020-01-23,FOTUS,20,16892,ANDRESSA BRANDT ARALDI,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4989,NaT,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4990,NaT,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4991,NaT,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4992,NaT,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4993,NaT,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

,DATA ATENDIMENTO,VENDEDOR,CODIGO WORK,FORMADO,FORMA DE ATENDIMENTO,STATUS NEGOCIAÇÃO,PRODUTO VENDIDO
1596,2023-05-05,20,53186,ALEXANDRA RAFAELA DE SOUZA DEXHEIMER,DOMICILIO,CONCLUIDO VENDA,FOTOS AVULSAS + ITENS
1597,2023-05-05,20,51675,CAROLNE RODRIGUES XAVIER,PONTO COMERCIAL,CONCLUIDO VENDA,ÁLBUM CLASSICO LISO 24X30
1598,2023-05-05,20,52954,LUANE MARIA KESSIN ALVES,DOMICILIO,CONCLUIDO VENDA,FOTOS AVULSAS + ITENS
1599,2023-05-05,20,51687,MARIA ISABELLA RODRIGUES BRUDER,DOMICILIO,CONCLUIDO VENDA,ÁLBUM CLASSICO LISO 24X30
1600,2023-05-05,20,53342,LETICIA ALBINO BRANCO,DOMICILIO,CONCLUIDO VENDA,FOTOS AVULSAS + ITENS
...,...,...,...,...,...,...,...
3722,2023-11-17,50,47493.0,ANDRIELE DREWNOWSKI,VIRTUAL,CONCLUIDO VENDA,ÁLBUM COMERCIAL LISO 20X25
3723,2023-11-14,50,56451.0,ELIZANDRA APARECIDA GOMES,VIRTUAL,CONCLUIDO VENDA,ARQUIVO DIGITAL
3724,2023-11-09,50,46108.0,MATHEUS FELIPE SOUZA FRANCO,VIRTUAL,CONCLUIDO VENDA,ÁLBUM COMERCIAL COMPOSITE 24X30
3725,2023-11-13,50,7605.0,JANETE SOBANSKI KARBOWSKI,VIRTUAL,CONCLUIDO VENDA,ÁLBUM AÇÃO
3726,2023-11-20,50,48290.0,JORGE JEEZIEL FERNANDES,VIRTUAL,CONCLUIDO VENDA,ÁLBUM PERSONALIZADO MASTER